<h1>Edit: {{edit.note.title}}</h1>
<form>
	<fieldset class="form-group">
		<label for="title">Title</label>
		<input class="form-control" type="text" id="title" name="title" ng-model="edit.note.title">
	</fieldset>

	<fieldset class="form-group">
		<label for="category">Category</label>
		<select ng-options="category.id as category.name for category in edit.categories" ng-model="edit.note.categoryId"></select>
	</fieldset>

	<fieldset class="form-group">
		<label for="user">User</label>
		<select ng-options="user.id as user.name for user in edit.users" ng-model="edit.note.userId"></select>
	</fieldset>

	<fieldset class="form-group">
		<label for="description">Description</label>
		<input class="form-control" type="text" id="description" name="description" ng-model="edit.note.description">
	</fieldset>

	<fieldset class="form-group">
		<label for="content">Content</label>
		<textarea class="form-control" type="text" id="content" name="content" ng-model="edit.note.content"></textarea>
	</fieldset>

	<input type="submit" value="{{edit.isSubmitting ? 'saving...' : 'save'}}" class="btn btn-default" ng-click="edit.saveNote(edit.note)" ng-disabled="edit.isSubmitting">
<form>